#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #f2f2f2;

}

#login-info{
    float: left;
}

#login-info a{
    padding-left: 10px;
}

#login-info span, #login-info a,#quick-menu a{
    color: #999999;
}

#login-info a:hover{
    color: #ff0036;
}

#quick-menu{
    float: right;
}

#quick-menu .menu{
    float: left;
    padding: 0 14px;
    cursor: pointer;
}

#quick-menu .menu:hover a{
    color: #ff0036;
}

#quick-menu .triangle{
    position: relative;
}

#quick-menu .triangle:hover > a{
    text-decoration: underline;
}

#quick-menu .icon-tianmaogouwuche{
    color: #ff0036;
    font-size: 14px;
}

#quick-menu .icon-shouji{
    font-size: 14px;
    color: #ff0036 ;
}

#quick-menu .icon-daohang{
    font-size: 14px;
    color: #ff0036;
}

#quick-menu .triangle{
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px;
}

#quick-menu .triangle:hover{
    background: #ffffff;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 0 1px;
}

#quick-menu .triangle:hover > a{
    text-decoration: underline;
}

#quick-menu .triangle::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #bbbbbb transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 2px;
}

#quick-menu .triangle:hover::after{
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition: transform 0.2s ease;
}

#quick-menu .triangle:hover .submenu{
    display: block;
}

#quick-menu .submenu{
    position: absolute;
    top: 33px;
    left: -1px;
    padding: 0 10px;
    width: 74px;
    border: 1px solid #eeeeee;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 0 1px 1px 1px;
    background-color: #ffffff;
    display: none;
}